/*Globales*/

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Secular One', sans-serif;
}

a {
    color: rgb(144, 53, 230);
    text-transform: uppercase;
    text-decoration: none;
  }

/*ENCABEZADO*/

header {
    background-color: rgb(144, 53, 230);
    border-bottom: 2px solid black;
}

.h1__titulo {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.53);
    text-align: center;
}

.h2__titulo {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.contenedorImgGatito {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img__gatito {
    height: 200px;
    width: 200px;

}

.h2__main {
    text-align: center;
    margin: 50px;
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.53);
}

span {
    color: blueviolet;
}

.h2__gatito {
    color: black;
    font-size: 35px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

.saludos {
    font-size: 30px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

@media (min-width: 1200px) {
    header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .h1__titulo {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .h2__titulo {
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .h2__main {
        text-align: center;
        margin: 50px;
        font-size: 60px;
    }
  
    .h2__gatito {
        font-size: 35px;
        margin-bottom: 60px;
        text-align: center;
    }
    
    .saludos {
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
    }
}


/*LOGIN*/

.bodyLogin {

    background-image: url(../img/gatoFondo.jpg);
    object-fit: cover;
}

.titulo--contacto {
    color: white;
    font-size: 50px;
}
  
.contacto__input {
    border: black;
    outline: black;
    border-bottom: 1px solid black
}
  
.boton {
    width: 80%;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
}
  
.boton:hover {
background: #fff;
color: #212529;
}

/*JUEGO*/

.h2__main {
    font-size: 50px;
}
.saludos {
    font-size: 25px;
}
.h2__gatito {
    font-size: 40px;
}


.css-button-3d--black {
    min-width: 230px;
    height: 80px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: rgb(144, 53, 230);
    box-shadow: 1.5px 5px #212529;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
  }

  .css-button-3d--black:hover {
    box-shadow: 0 3px #000000;
    top: 1px;
  }
  .css-button-3d--black:active {
    box-shadow: 0 0 #000000;
    top: 5px;
  }

.round {
    font-size: 25px;
    color: rgb(144, 53, 230);
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.detalleVidaGatos{
    font-size: 20px;
    text-align: center;
}

.card__Gatito {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 280px;
    background-color: rgb(144, 53, 230);
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.57);
}

.card__Gatito > img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 30px;
    object-fit: cover;
}

.contenedorCardFinal {
    width: 300px;
    height: 400px;
    margin: 0 auto;
}

.card__Final {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 380px;
    background-color: rgb(144, 53, 230);
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.57);
}

.card__Final > img {
    width: 260px;
    height: 260px;
    border-radius: 5px;
}

.h2__card {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.h2__cardFinal {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.h2__cardFinal--negro {
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.h2__cardFinal--negro > a {
    color: rgb(144, 53, 230);
    text-decoration: none;
}

.contenedorBtnTienda {
    display: flex;
    justify-content: space-around;
}

.btnATienda {
    border: none;
    background: none;
    margin-left: 50%;
    margin: 80px;
    cursor: pointer;
  }
  
  .btnATienda span {
    padding-bottom: 24px;
    letter-spacing: 16px;
    font-size: 34px;
    padding-right: 25px;
    text-transform: uppercase;
  }
  
  .btnATienda svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .btnATienda:hover svg {
    transform: translateX(0);
  }
  
  .btnATienda:active svg {
    transform: scale(0.9);
  }
  
  .animacionBtn {
    position: relative;
    color: rgb(144, 53, 230);
    padding-bottom: 20px;
  }
  
  .animacionBtn:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .btnATienda:hover .animacionBtn:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media (min-width: 500px) {

    .round {
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    .detalleVidaGatos{
        font-size: 20px;
    }
    
    .card__Gatito {
        width: 400px;
        height: 350px;
        margin-bottom: 50px;
    }
    
    .card__Gatito > img {
        width: 270px;
        height: 280px;
        margin-bottom: 30px;
    }

    .contenedorCardFinal {
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__Final {
        width: 400px;
        height: 380px;
    
    }
    
    .card__Final > img {
        width: 290px;
        height: 290px;
        border-radius: 5px;
    }

}

  @media (min-width: 768px) {
    .h2__main {
        font-size: 60px;
    }
    .saludos {
        font-size: 30px;
    }
    .h2__gatito {
        font-size: 40px;
    }
    .round {
        font-size: 40px;
        margin-bottom: 50px;
    }
    
    .detalleVidaGatos{
        font-size: 25px;
    }
    
    .contenedorCardFinal{
        padding-top: 20px;
    }

    .card__Gatito {
        width: 600px;
        height: 600px;
        margin-bottom: 50px;
    }
    
    .card__Gatito > img {
        width: 500px;
        height: 500px; 
        margin-bottom: 30px;
    }

    .h2__card {
        font-size: 31px;
    }
    
    .h2__cardFinal {
        color: white;
        font-size: 35px;
        text-align: center;
        padding-top: 10px;
    }

    .contenedorCardFinal {
        width: 768px;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__Final {
        width: 600px;
        height: 600px;
    }
    
    .card__Final > img {
        width: 500px;
        height: 500px;
        border-radius: 5px;
    }
}

@media (min-width: 1200px) {
    .h2__main {
        font-size: 80px;
    }
    .saludos {
        font-size: 35px;
    }
    .h2__gatito {
        font-size: 40px;
    }
    .round {
        font-size: 50px;
    }
    
    .detalleVidaGatos{
        font-size: 30px;
    }
    
    .contenedorCardFinal{
        padding-top: 20px;
    }

    .card__Gatito {
        width: 700px;
        height: 700px;
        margin-bottom: 50px;
    }
    
    .card__Gatito > img {
        width: 600px;
        height: 550px; 
        margin-bottom: 30px;
    }

    .h2__card {
        font-size: 45px;
    }
    
    .h2__cardFinal {
        font-size: 45px;
        text-align: center;
        padding-top: 10px;
    }

    .contenedorCardFinal {
        width: 1100px;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__Final {
        width: 1000px;
        height: 1000px;
    
    }
    
    .card__Final > img {
        width: 700px;
        height: 700px;
    }

    .h2__cardFinal--negro {
        font-size: 40px;
    }
    .btnATienda span {
        padding-bottom: 34px;
        letter-spacing: 26px;
        font-size: 44px;
        padding-right: 30px;
      }
}

/*TIENDA*/

.contenedorBtnTienda {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.contenedorBtn--1200 {
    display: none;
}

.btn {
    background-image: url(../img/carrito-de-compras.png);
    height: 64px;
    width: 64px;
    border: none;
    background-color: transparent; 
}

.btn--1200 {
    display: none;
}

.btn:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.headerTienda {
    justify-content: space-around;
}

.offcanvas-titleTienda {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.offcanvas{
    background-color: rgb(144, 53, 230);
}

.contenedorP {
    display: flex;
    align-items:flex-start;
    gap: 20px;
}

.pCarrito {
    font-size: 20px;
    color: white;
    display: inline-block;
}

.btnRemoveCarrito {
    background-image: url(../img/delete.png);
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    
}

.totalCarritoP {
    font-size: 35px;
}

body.dark-mode {
    background-color: black;
    color: black;
  }
  body.dark-mode a {
    color: black;
  }
  body.dark-mode button {
    color: black;
  }

.btnDark {
    background-image: url(../img/drkmode.png);
    height: 64px;
    width: 64px;
    border: none;
    background-color: transparent;
} 

.btnDark:hover {
    transform: scale(1.01);
}

.btnDark--1200 {
    display: none;
}

.card-img-top {
    width: auto;
    height: auto;
    border-bottom: 1px solid black;
}

.card-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.carrito {
    background-image: url(../img/anadir-al-carrito.png);
    height: 64px;
    width: 64px;
    border: none;
    background-color: transparent;
    margin: 0 auto;
    z-index: 10;
}

.carrito:hover {
    transform: scale(1.01);
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dark-mode .btnDark  .btn {
    background-color: rgb(144, 53, 230);
}

@media (min-width: 768px) {
    .card {
        height: 400px;
    } 
    .card-img-top {
        height: 215px;
    } 
    .card-text {
        font-size: 20px;
    }
    .card-title {
        font-size: 20px;
    }
    .card:hover {
        transform: scale(1.01);
    }
}
@media (min-width: 1200px) {
    .card {
        height: 450px;
    } 
    .card-text {
        font-size: 30px;
    }
    .card-title {
        font-size: 30px;
    }
    .btn {
        display: none;
    }
    .btnDark {
        display: none;
    }
    .btn--1200 {
        display: block;
        background-image: url(../img/carrito-de-compras.png);
        height: 64px;
        width: 64px;
        border: none;
        background-color: transparent;
    }
    .btn--1200:hover {
        transform: scale(1.01);
    }
    .btnDark--1200 {
        display: block;
        background-image: url(../img/drkmode.png);
        height: 64px;
        width: 64px;
        border: none;
        background-color: transparent;
    }
    .btnDark--1200:hover {
        transform: scale(1.01);
    }
    .contenedorBtn--1200 {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .dark-mode .btnDark--1200  {
        background-image: url(../img/drkMode2.png);
    }
    .dark-mode .btn--1200 {
        background-image: url(../img/carrito-de-comprasDrk.png);
    }
    .card-img-top {
        height: 250px;
    } 
    .card:hover {
        transform: scale(1.01);
    }
}

footer {
    background-color: rgb(144, 53, 230);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pFooter {
    font-size: 16px;
    color: white;
    font-family: 'Indie Flower', cursive;

}

@media (min-width: 500px) {
    .pFooter {
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    .pFooter {
        font-size: 25px;
    }
}
@media (min-width: 1200px) {
    footer {
        bottom: 0;
        position: static;
        z-index: 1;
        width: 100%;
        height: 80px;
    }
    .pFooter {
        font-size: 30px;
    }
}
