/*Globales*/

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/*LOGIN*/

.bodyLogin {
    background-image: url("/assets/img/gatoFondo.jpg");
    object-fit: cover;
}

.titulo--contacto {
    color: white;
    font-size: 50px;
}
  
.contacto__input {
    border: none;
    outline: none;
    border-bottom: 1px solid black
}
  
.boton {
    width: 80%;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
}
  
.boton:hover {
background: #fff;
color: #212529;
}

/*ENCABEZADO*/

header {
    background-color: rgb(144, 53, 230);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;
}

.h1__titulo {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Secular One', sans-serif;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.53);
}

.h2__titulo {
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Indie Flower', cursive;
}

.img__gatito {
    height: 200px;
    width: 200px;
}

.h2__main {
    text-align: center;
    margin: 50px;
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.53);
}

span {
    color: blueviolet;
}

.h2__gatito {
    color: black;
    font-size: 35px;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 60px;
    text-align: center;
}

.saludos {
    font-size: 30px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

/*JUEGO*/

.css-button-3d--black {
    min-width: 230px;
    height: 80px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: rgb(144, 53, 230);
    box-shadow: 0 5px #212529;
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
  }

  .css-button-3d--black:hover {
    box-shadow: 0 3px #000000;
    top: 1px;
  }
  .css-button-3d--black:active {
    box-shadow: 0 0 #000000;
    top: 5px;
  }

.round {
    font-size: 40px;
    color: rgb(144, 53, 230);
    font-family: 'Secular One', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.detalleVidaGatos{
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

.card__Gatito {
    width: 650px;
    height: 650px;
    background-color: rgb(132, 13, 243);
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.57);
}

.card__Gatito > img {
    width: 500px;
    height: 500px;
    margin: 75px;
    margin-top: 50px;
    border-radius: 5px;
}

.contenedorCardFinal {
    width: 850px;
    height: 850px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card__Final {
    width: 1000px;
    height: 1200px;
    background-color: rgb(144, 53, 230);
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.57);
}

.card__Final > img {
    width: 700px;
    height: 700px;
    margin-left: 150px;
    margin-top: 60px;
    border-radius: 5px;
}

.h2__card {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    padding-top: 10px;
}

.h2__cardFinal {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    padding-top: 20px;
    line-height: 70px;
}

.card__Final2{
    height: 200px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
}

.h2__cardFinal--negro {
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    line-height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.h2__cardFinal--negro > a {
    color: rgb(144, 53, 230);
    text-decoration: none;
}

